/* Regla para que la imagen dentro de .hero-image-col ocupe toda la altura */
.hero-image-col {
  display: flex; /* Convierte la columna en un flex container */
  align-items: stretch; /*para que ocupen toda la altura */
  padding: 0; /* Aseguramos que no haya padding en esta columna */
}

.hero-image-col img {
  height: 100%; /* La imagen ocupa el 100% de la altura de su columna */
  object-fit: cover; 
}